doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title modsite-1
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='/style.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.css">
    
    
    
    
  body
    .utility__layer
      .utility__header
        img(src="../img/ferrari.jpg" class="utility__image")
        h4(class="utility__heading") Where the filmakers are
      .utility__bar
        a(href="#" class="utility__link"): icon(name="ei-camera" size="s" class="utility__icon") Create Video Content
        a(href="#" class="utility__link"): icon(name="ei-sc-soundcloud" size="s" class="utility__icon") Post a film
        a(href="#" class="utility__link"): icon(name="ei-sc-instagram" size="s" class="utility__icon") Small Festivals
        a(href="#" class="utility__link") Sign In
        a(href="#" class="utility__signup") Sign Up
    //-close utility__layer
    
    .nav__layer
      a(href="#" class="nav__link") Branded content
      a(href="#" class="nav__link") InstagramVine
      a(href="#" class="nav__link") Animation <icon name="ei-chevron-down" size="s" class="nav__icon"></icon>
      a(href="#" class="nav__link") Video art
      a(href="#" class="nav__link") More Genres <icon name="ei-chevron-down" size="s" class="nav__icon"></icon>
      a(href="#" class="nav__link") Live briefs
      a(href="#" class="nav__link") Discover
      form(class="nav__search", method="", action="")
        input(type="text")
        label: icon(name="ei-search" size="s" class="nav__mag")
    //-close nav__layer
    
    .feature__layer
      h2(class="feature__heading") Create video content with<br>our company
      a(href="#"): icon(name="ei-play" size="l" class="feature__icon")
    //-close feature__layer
    
    
    .brief__layer
      .brief__header
        h3(class="brief__heading")=briefLayer.head
      .brief__process
        .brief__item
          <div data-icon="ei-pencil" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub1
          p Enter your details and send us your brief idea
        .brief__item
          <div data-icon="ei-comment" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub2
          p We will contact you then discuss the brief a bit further
        .brief__item
          <div data-icon="ei-like" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub3
          p Once you're happy, your brief will be posted and you'll receive comments

      .brief__post
        a(href="#" class="brief__button") Post a new brief
    //-close brief__layer
    
    .content__layer
      .content__item
        h3(class="content__heading") Get video content for any platform
        ul(class="content__list")
          li Social Media Video
          li Instagram and Vines
          li Branded Entertainment
          li Online Video Ads
          li Social Media Video
          li Instagram and Vines
          li Branded Entertainment
          li Online Video Ads
      .content__item(class="content__right")
        h3(class="content__heading") Let's do this together
        p Schedule a call with us, we will assist you for creating your project. For any questions, call us:
        h4(class="content__subheading") +44 7521775530
        .content__contact
          a(href="#" class="content__button") Contact us
    //-close content__layer
    
    .studies__layer
      .studies__header
        h3(class="studies__heading") Case Studies
      .studies__cases
        .studies__pic
          img(src="../img/jim.jpg")
        .studies__logo
          <div data-icon="ei-arrow-up" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/kevin.jpg")
        .studies__logo
          <div data-icon="ei-arrow-down" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/tracy.jpg")
        .studies__logo
          <div data-icon="ei-arrow-left" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/will.png")
        .studies__logo
          <div data-icon="ei-arrow-right" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/jim.jpg")
        .studies__logo
          <div data-icon="ei-arrow-up" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/kevin.jpg")
        .studies__logo
          <div data-icon="ei-arrow-down" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/tracy.jpg")
        .studies__logo
          <div data-icon="ei-arrow-left" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/will.png")
        .studies__logo
          <div data-icon="ei-arrow-right" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/jim.jpg")
        .studies__logo
          <div data-icon="ei-arrow-up" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/kevin.jpg")
        .studies__logo
          <div data-icon="ei-arrow-down" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/tracy.jpg")
        .studies__logo
          <div data-icon="ei-arrow-left" data-size="s"></div>
      .studies__cases
        .studies__pic
          img(src="../img/will.png")
        .studies__logo
          <div data-icon="ei-arrow-right" data-size="s"></div>
    //-close studies__layer
    
    .pitch__layer
      .pitch__header
        h3(class="pitch__heading") The pitch room process
      .pitch__process
        .pitch__item
          <div data-icon="ei-calendar" data-size="s"></div>
          h4(class="pitch__heading") 1. Brief
          p The brief is posted to The Smalls Pitch Room
        .pitch__item
          <div data-icon="ei-trophy" data-size="s"></div>
          h4(class="pitch__heading") 2. Promotion
          p The brief is posted an distributed via The Smalls Communications Channel in its global community
        .pitch__item
          <div data-icon="ei-image" data-size="s"></div>
          h4(class="pitch__heading") 3. Pitch
          p Filmakers optioned a treatment in response to a brief which is painted to a judging gallery
        .pitch__item
          <div data-icon="ei-sc-odnoklassniki" data-size="s"></div>
          h4(class="pitch__heading") 4. Commission
          p Filmakers are shortlisted for client consideration
        .pitch__item
          <div data-icon="ei-gear" data-size="s"></div>
          h4(class="pitch__heading") 5. Production
          p The selected filmmakers go into production
    //-close pitch__layer
    
    .client__layer
      .client__header
        h3(class="pitch__heading") Our clients
      .client__gallery
        .client__logo
          img(src="../img/apple.jpg")
        .client__logo
          img(src="../img/audi.jpg")
        .client__logo
          img(src="../img/honda.jpg")
        .client__logo
          img(src="../img/jeopardy.png")
        .client__logo
          img(src="../img/nike.jpg")
        .client__logo
          img(src="../img/instagram.jpg")
        .client__logo
          img(src="../img/adidas.jpg")
        .client__logo
          img(src="../img/ufc.jpg")
        .client__logo
          img(src="../img/vine.png")
    //-close client__layer
    
    .footer__layer
      img(src="../img/ferrari.jpg" class="footer__image")
      ul(class="footer__nav")
        li
          a(href="#" class="footer__link") About
        li
          a(href="#" class="footer__link") Work
        li
          a(href="#" class="footer__link") Services
        li
          a(href="#" class="footer__link") Contacts
      ul(class="footer__social")
        li
          a(href="#" class="social__link"): icon(name="ei-sc-facebook" size="s") Facebook
        li
          a(href="#" class="social__link"): icon(name="ei-sc-twitter" size="s") Twitter
        li
          a(href="#" class="social__link"): icon(name="ei-sc-pinterest" size="s") Pinterest
        li
          a(href="#" class="social__link"): icon(name="ei-sc-vimeo" size="s") Vimeo
      a(href="#" class="footer__button") Join Newsletter
    //-close footer__layer
              
    script(src="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.js")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
