doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title modsite-1
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='/style.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.css">
    
    
    
    
  body
    .utility__layer
      .utility__header
        img(src="../img/ferrari.jpg" class="utility__image")
        h4(class="utility__heading") Where the filmakers are
      .utility__bar
        a(href="#" class="utility__link"): icon(name="ei-camera" size="s" class="utility__icon") Create Video Content
        a(href="#" class="utility__link"): icon(name="ei-sc-soundcloud" size="s" class="utility__icon") Post a film
        a(href="#" class="utility__link"): icon(name="ei-sc-instagram" size="s" class="utility__icon") Small Festivals
        a(href="#" class="utility__link") Sign In
        a(href="#" class="utility__signup") Sign Up
    //-close utility__layer
    
    .nav__layer
      a(href="#" class="nav__link") Branded content
      a(href="#" class="nav__link") InstagramVine
      a(href="#" class="nav__link") Animation <icon name="ei-chevron-down" size="s" class="nav__icon"></icon>
      a(href="#" class="nav__link") Video art
      a(href="#" class="nav__link") More Genres <icon name="ei-chevron-down" size="s" class="nav__icon"></icon>
      a(href="#" class="nav__link") Live briefs
      a(href="#" class="nav__link") Discover
      form(class="nav__search", method="", action="")
        input(type="text" placeholder="search")
        label: icon(name="ei-search" size="s" class="nav__mag")
    //-close nav__layer
    
    .feature__layer
      h2(class="feature__heading") Create video content with<br>our company
      a(href="#"): icon(name="ei-play" size="l" class="feature__icon")
    //-close feature__layer
    
    
    .brief__layer
      .brief__header
        h3(class="brief__heading")=briefLayer.head
      .brief__process
        .brief__item
          <div data-icon="ei-pencil" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub1
          p Enter your details and send us your brief idea
        .brief__item
          <div data-icon="ei-comment" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub2
          p We will contact you then discuss the brief a bit further
        .brief__item
          <div data-icon="ei-like" data-size="l"></div>
          h4(class="brief__subheading")=briefLayer.sub3
          p Once you're happy, your brief will be posted and you'll receive comments

      .brief__post
        a(href="#" class="brief__button") Post a new brief
    //-close brief__layer
    
    .content__layer
      .content__item
        h3(class="content__heading") Get video content for any platform
        ul(class="content__list")
          li Social Media Video
          li Instagram and Vines
          li Branded Entertainment
          li Online Video Ads
          li Social Media Video
          li Instagram and Vines
          li Branded Entertainment
          li Online Video Ads
      .content__item(class="content__right")
        h3(class="content__heading") Let's do this together
        p Schedule a call with us, we will assist you for creating your project. For any questions, call us:
        h4(class="content__subheading") +44 7521775530
        .content__contact
          a(href="#" class="content__button") Contact us
    //-close content__layer
    
    .studies__layer
      .studies__header
        h3(class="studies__heading") Case Studies
      .studies__cases
        .studies__pic
          img(src="../img/jim.jpg")
          icon(name="ei-arrow-up" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/kevin.jpg")
          icon(name="ei-arrow-down" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/tracy.jpg")
          icon(name="ei-arrow-left" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/will.png")
          icon(name="ei-arrow-right" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/jim.jpg")
          icon(name="ei-arrow-up" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/kevin.jpg")
          icon(name="ei-arrow-down" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/tracy.jpg")
          icon(name="ei-arrow-left" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/will.png")
          icon(name="ei-arrow-right" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/jim.jpg")
          icon(name="ei-arrow-up" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/kevin.jpg")
          icon(name="ei-arrow-down" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/tracy.jpg")
          icon(name="ei-arrow-left" size="m" class="studies__icon")
        .studies__pic
          img(src="../img/will.png")
          icon(name="ei-arrow-right" size="m" class="studies__icon")
    //-close studies__layer
    
    .pitch__layer
      .pitch__header
        h3(class="pitch__heading") The pitch room process
      .pitch__process
        .pitch__item
          icon(name="ei-calendar" size="l" class="pitch__icon")
          h4(class="pitch__subheading") 1. Brief
          p The brief is posted to The Smalls Pitch Room
        .pitch__item
          icon(name="ei-trophy" size="l" class="pitch__icon")
          h4(class="pitch__subheading") 2. Promotion
          p The brief is posted an distributed via The Smalls Communications Channel in its global community
        .pitch__item
          icon(name="ei-image" size="l" class="pitch__icon")
          h4(class="pitch__subheading") 3. Pitch
          p Filmakers optioned a treatment in response to a brief which is painted to a judging gallery
        .pitch__item
          icon(name="ei-sc-odnoklassniki" size="l" class="pitch__icon")
          h4(class="pitch__subheading") 4. Commission
          p Filmakers are shortlisted for client consideration
        .pitch__item
          icon(name="ei-gear" size="l" class="pitch__icon")
          h4(class="pitch__subheading") 5. Production
          p The selected filmmakers go into production
    //-close pitch__layer
    
    .client__layer
      .client__header
        h3(class="pitch__heading") Our clients
      .client__gallery
        .client__logo
          <svg class="client__image" xmlns="http://www.w3.org/2000/svg"  viewBox="0.001 0 703.199 245.275"><path d="M113.543 0c65.747 0 81.102 64.754 71.882 122.608-9.234 57.888-45.363 122.667-111.11 122.667S-6.795 180.497 2.46 122.608C11.72 64.754 47.796 0 113.543 0zm-29.69 185.453c24.492 0 33.12-48.092 35.5-62.844 2.376-14.755 9.103-62.86-15.344-62.86-24.496 0-33.106 48.105-35.477 62.86-2.376 14.75-9.13 62.843 15.32 62.843zM219.582 4.064h76.224c38.093 0 79.994 16.36 71.773 67.62-4.278 26.68-25.076 47.466-52.39 47.466l-.1.655c31.335 2.533 45.087 21.962 40 53.763-4.684 29.232-28.62 67.59-86.398 67.59h-87.026L219.582 4.064zm40.496 185.83c14.286 0 28.07-6.905 30.665-22.937 2.56-16.044-8.79-22.64-23.71-22.64h-5.1l-7.296 45.573h5.44v.003zm13.38-93.665c13.312 0 26.586-5.354 29.033-20.777 2.277-14.18-6.614-20.127-19.974-20.127h-6.342L269.66 96.23h3.798zM397.407 4.064h120.38l-8.98 55.95H453.25l-5.276 33.05h49.884l-8.974 55.947h-49.858l-5.73 36.174h55.527l-8.98 55.975H359.492L397.408 4.063zM544.57 241.158l16.104-100.648L523.42 4.064h67.313l10.556 73.263h.626l34.257-73.263H703.2L625.432 140.51l-16.06 100.647h-64.804zM677.215 234.114c-4.703 4.71-10.355 7.044-17.025 7.044-6.627 0-12.286-2.335-16.95-7.044-4.645-4.683-6.96-10.35-6.96-17.015 0-6.583 2.337-12.232 7.02-16.926 4.67-4.655 10.308-6.974 16.892-6.974 6.67 0 12.322 2.318 17.025 6.974 4.688 4.683 7.024 10.312 7.024 16.925 0 6.634-2.338 12.317-7.025 17.014zM645.6 202.56c-4.024 4.015-6.03 8.872-6.03 14.57 0 5.748 1.984 10.634 6.002 14.687 4.035 4.03 8.922 6.05 14.66 6.05 5.753 0 10.646-2.02 14.67-6.05 4.02-4.053 6.048-8.938 6.048-14.686 0-5.698-2.027-10.557-6.048-14.57-4.044-4.048-8.93-6.07-14.67-6.07-5.707 0-10.582 2.022-14.63 6.07zm14.167 1.247c3.277 0 5.68.313 7.21.96 2.716 1.128 4.09 3.36 4.09 6.665 0 2.368-.868 4.106-2.58 5.204-.92.587-2.177 1.017-3.813 1.27 2.05.335 3.528 1.19 4.493 2.595.93 1.39 1.406 2.77 1.406 4.086v1.926c0 .62.017 1.265.05 1.966.065.71.14 1.166.255 1.37l.19.335h-4.418c-.024-.087-.043-.173-.067-.265-.006-.08-.04-.183-.062-.3l-.103-.846V226.7c0-3.057-.837-5.063-2.497-6.055-.986-.56-2.695-.845-5.182-.845h-3.665v10.38h-4.524v-26.373h9.217zm4.988 4.278c-1.173-.65-3.064-.98-5.666-.98h-4.017v9.402h4.237c1.986 0 3.49-.184 4.485-.58 1.823-.706 2.744-2.067 2.744-4.043 0-1.904-.59-3.154-1.785-3.8z"/></svg>
        .client__logo
          <svg class="client__image" viewBox="137.5 283.511 999.001 310.166"><path d="M294.84 385.497c0-28.38-22.832-51.235-50.75-51.235h-25.17V436.28h25.17c27.918 0 50.75-22.872 50.75-50.783M409.326 588.87h-92.388L243.59 487.083h-24.67v101.57H137.5V283.51h116.64c67.242 0 122.127 45.725 122.127 101.985 0 34.312-21.04 64.96-53.063 83.71l86.122 119.664"/><path d="M501.15 403.81c-21.502 0-39.792 29.226-39.792 65.405 0 36.18 18.29 65.443 39.792 65.443 22 0 40.26-29.265 40.26-65.443 0-36.18-18.26-65.406-40.26-65.406m125.324 65.405c0 69.116-56.207 124.462-125.324 124.462-69.094 0-124.886-55.346-124.886-124.462 0-69.064 55.792-124.44 124.886-124.44 69.117 0 125.324 55.376 125.324 124.44M817.544 349.836l-93.793 93.778v-94.088h-81.404V588.65h81.405v-96.998l97.92 96.998h102.463L799.7 464.2l103.066-103.027V503.08c0 47.114 28.334 90.595 99.688 90.595 33.874 0 64.96-19.212 80.067-36.595l36.604 31.57h17.376V349.835h-81.406v154.618c-9.167 16-21.94 26.06-41.68 26.06-20.03 0-29.22-11.873-29.22-49.852V349.836h-166.65z"/></svg>
        .client__logo
          <svg class="client__image" viewBox="0 0.01 799.993 197.49"><path d="M25.1.1h172.1l-7.3 56.3H18.1l7-56.3zM15 77.1h172.3l-5.3 45.8H74.3l-2.8 21.9h107.9l-6.7 52.3H0l15-120zm185-20.7s1.2-19.2 6-29.2c4.5-9.4 10.5-16.2 20.6-21.9 6-3.2 16.7-5.2 16.7-5.2h310s13 .2 18.6 2.5c6 2.5 14.7 6.2 19.3 17.4 4.5 10.7 3.602 14.2 3.602 24.9 0 10.5-.3 11.5-.3 11.5H200zm-2.8 21.2h158.6s14.1 0 20.6 3.9c6.8 4.5 9.9 10 11.9 18.7 1.9 8.7-3.4 52.6-6.5 63.3-3.4 10.5-7.4 20.4-23.8 28.6-14.7 7.5-37 5-37 5H184l8.1-52.3h128.3l2.6-22.2h-88.5s-14.398 2-27.898-9.7c-8.2-7-9.1-17.7-9.6-22.4-.602-2.7.198-12.9.198-12.9zm206.3 0h187.1s-1.7 21.6-6.8 29.3c-5.1 8-9.6 12.3-18.1 14.2-8.7 2-21.7 2-21.7 2h-81.4l-8.5 74h-65.3l14.7-119.5zm199.8-20.7h194.4s3.7-17 1.7-27.7-6.8-17.9-14.7-23.1c-10.4-7.3-29.4-6-29.1-6H611.2l-7.9 56.8zm-2.5 20.7h64.4l-14.7 119.5h-63.9l14.2-119.5zm129.4.5H794l-14.7 119h-63.5l14.4-119z"/></svg>
        .client__logo
          <svg class="client__image" viewBox="0 0 962.043 184.253"><path d="M436.4 65.328V176.59h-25.697V2.5L525.7 118.688V6.828h25.713v174.73L436.4 65.328zM702.79 0c-50.31 0-91.224 41.263-91.224 92.02 0 50.735 40.915 91.995 91.225 91.995 50.296 0 91.23-41.26 91.23-91.994C794.02 41.264 753.086 0 702.79 0zm0 157.884c-35.658 0-64.692-29.553-64.692-65.863 0-36.314 29.034-65.862 64.693-65.862 35.675 0 64.677 29.548 64.677 65.863 0 36.312-29.002 65.864-64.676 65.864zM259.24 0c-50.31 0-91.227 41.263-91.227 92.02 0 50.735 40.917 91.995 91.226 91.995 50.318 0 91.224-41.26 91.224-91.994C350.464 41.264 309.56 0 259.24 0zm0 157.884c-35.675 0-64.673-29.553-64.673-65.863 0-36.314 28.998-65.862 64.672-65.862 35.66 0 64.69 29.548 64.69 65.863 0 36.312-29.03 65.864-64.69 65.864zM56.113 104.947l-.104-.044C38.832 99.4 27.335 93.98 18.673 87.3 6.292 77.79 0 65.65 0 51.227 0 37.72 6.227 24.558 17.078 15.042 28.164 5.335 43.44 0 60.078 0c34.827 0 54.73 23.405 55.564 24.41L94.51 38.81C89.616 35.12 76.757 26.84 60.077 26.84c-20.95 0-33.47 12.396-33.47 24.384 0 8.363 4.546 17.56 37.447 28.12l.127.02c17.132 5.487 28.67 10.925 37.323 17.584 12.394 9.534 18.677 21.674 18.677 36.098 0 13.505-6.23 26.688-17.103 36.184-11.062 9.688-26.333 15.02-42.99 15.02-34.815 0-54.72-23.382-55.552-24.39l21.15-14.4c4.886 3.695 17.745 11.97 34.402 11.97 20.958 0 33.49-12.37 33.49-24.384.003-8.363-4.532-17.56-37.464-28.1zM897.98 104.947l-.114-.044C880.703 99.4 869.194 93.98 860.55 87.3c-12.375-9.515-18.694-21.655-18.694-36.077 0-13.506 6.244-26.667 17.103-36.183C870.006 5.335 885.267 0 901.95 0c34.826 0 54.74 23.405 55.585 24.41l-21.16 14.4c-4.882-3.69-17.74-11.968-34.424-11.968-20.965 0-33.49 12.396-33.49 24.384 0 8.363 4.552 17.56 37.478 28.12l.128.02c17.15 5.487 28.65 10.925 37.317 17.584 12.36 9.534 18.66 21.674 18.66 36.098 0 13.505-6.225 26.688-17.067 36.184-11.08 9.688-26.354 15.02-43.02 15.02-34.818 0-54.706-23.382-55.547-24.39l21.137-14.4c4.9 3.695 17.724 11.97 34.408 11.97 20.98 0 33.476-12.37 33.476-24.384-.003-8.363-4.534-17.56-37.45-28.1z"/></svg>
        .client__logo
          <svg class="client__image" viewBox="0 0 999.501 402.709"><image width="330" height="76" transform="matrix(.003 0 0 .0132 0 0)" overflow="visible"/><path d="M833.993 215.25c-.813 44.86 8.875 68.62 45.855 68.62 36.92 0 42.217-40.475 42.217-71.276 0-30.82-7.006-60.74-45.794-60.74-23.794 0-41.363 18.49-42.277 63.396zM759.18 402.71V99.054h75.727v12.317c0 16.43 6.627 9.656 11.966 3.253.894-1.07 17.77-21.728 55.78-21.728 37.895 0 96.847 26.397 96.847 119.7 0 72.17-35.17 124.97-95.91 124.97-33.47 0-52.822-13.178-57.246-18.496-4.43-5.246-10.583-6.16-10.583 0v83.64h-76.58M173.874.5h81.86v214.75c0 36.94-15.862 114.415-129.383 114.415C12.818 329.665.5 257.455.5 216.998v-39.6h79.217v38.706c0 23.76 15.847 45.754 45.754 45.754 29.92 0 48.404-16.715 48.404-44.86V.5M426.925 182.675c0-22.027-12.297-43.146-40.462-43.146-27.284 0-36.973 19.343-36.973 43.145h77.435zM378.57 90.253c64.284 0 120.587 24.635 120.587 138.175h-152.25c0 36.086 14.948 51.052 41.35 51.052 26.41 0 35.206-21.14 35.206-21.14h74.833c0 32.577-44.893 76.583-112.68 75.71-77.43 0-115.282-57.212-115.282-116.184 0-58.993 33.422-127.613 108.235-127.613M670.315 182.675c0-22.027-12.31-43.146-40.476-43.146-27.272 0-36.98 19.343-36.98 43.145h77.455zM621.96 90.253c64.277 0 120.566 24.635 120.566 138.175H590.284c0 36.086 14.96 51.052 41.384 51.052 26.383 0 35.19-21.14 35.19-21.14h74.834c0 32.577-44.9 76.583-112.666 75.71-77.47 0-115.323-57.212-115.323-116.184 0-58.993 33.463-127.613 108.256-127.613M949.376 366.306c0-12.026 9.79-21.796 21.857-21.796 12.027 0 21.797 9.77 21.797 21.796 0 12.006-9.77 21.837-21.797 21.837-12.066 0-21.857-9.83-21.857-21.837zm-2.52 0c0 13.456 10.895 24.378 24.377 24.378 13.395 0 24.35-10.922 24.35-24.378s-10.955-24.378-24.35-24.378c-13.482 0-24.377 10.922-24.377 24.378"/><path d="M980.997 378.773l-5.062-11.952c1.606-.555 2.14-.948 2.995-1.862 1.11-1.193 1.81-3.076 1.81-4.784 0-4.31-3.314-7.242-8.118-7.242H962.46v25.84h3.014V367.58h7.345l4.823 11.193h3.354zm-15.604-13.815v-9.215h7.168c2.996 0 4.9 1.708 4.9 4.35 0 3.002-2.02 4.865-5.32 4.865h-6.747"/></svg>
        .client__logo
          <svg class="client__image" viewBox="25.001 25 850 387.924"><path d="M660.178 285.798c16.39 7.078 26.177 20.393 26.177 35.564 0 20.095-15.315 32.073-40.978 32.073-27.232 0-39.885-24.213-43.125-31.607l-3.987-9.162h-50.998l-.084-.047h-47.25c-12.908 21.73-38.906 41.752-69.134 41.752-54.55 0-81.77-43.013-85.25-85.482h222.94v-9.31c0-17.606-1.815-34.18-5.204-49.566 6.38 19.743 20.93 40.214 51.427 54.704 11.137 5.366 27.955 13.37 45.465 21.08m-232.56-134.946c45.626 0 67.977 31.763 74.452 64.122H350.217c7.92-32.425 36.07-64.122 77.4-64.122m447.385.937V93.676H827.61v-68.68h-58.19v68.68H652.222c-54.125.03-93.408 36.764-93.408 87.38 0 5.443.478 11.304 1.564 17.38-18.443-64.487-67.053-104.76-132.333-104.76-79.853 0-140.902 62.75-146.016 147.76v-18.072c0-71.516-57.658-129.688-128.517-129.688-70.86 0-128.518 58.172-128.518 129.688v185.932h58.9V223.365c0-38.715 31.22-70.245 69.618-70.245 38.38 0 69.618 31.524 69.618 70.245v185.932h58.9V264.64c5.15 85.315 66.98 148.285 147.867 148.285 49.38 0 92.936-28.945 117.61-62.468 18.405 39.7 54.375 62.468 98.8 62.468 51.495 0 103.614-33.195 103.614-96.666 0-37.988-21.86-69.028-61.56-87.434-5.08-2.34-9.173-4.29-13.094-6.17l-.53-.27c-4.448-2.118-8.733-4.154-14.05-6.606-25.95-11.752-38.298-20.358-38.298-37.522 0-15.1 13.387-26.47 29.912-26.47h117.12v165.57c0 52.716 42.48 95.56 94.69 95.56v-58.725c-20.125 0-36.5-16.526-36.5-36.836V151.79c23.28.017 41.21 0 47.392 0"/></svg>
        .client__logo
          <svg class="client__image" viewBox="4.364 4.651 331.271 46.466"><path d="M47.74 4.76V31.3c0 9.08-4.38 14.448-17.537 14.448-13.195 0-17.6-5.367-17.6-14.448V12.644C12.436 8.222 8.81 4.67 4.364 4.67v5.15c1.612 0 2.894 1.252 3.046 2.824v20.468c0 10.52 8.25 17.997 22.792 17.997 14.52 0 22.738-7.48 22.738-17.998V4.762h-5.2zM198.803 44.995V32.562c0-1.707 1.45-3.11 3.133-3.143h22.654v-5.24h-22.732c-1.1.032-2.113.252-3.055.658V9.864h36.973V4.65H193.55v45.557h43.763v-5.212h-38.51zM292.53 27.47c-1.1 0-2.14.224-3.1.615l-.046-18.518 28.545-.01c4.954 0 8.96 3.993 8.96 8.954 0 4.956-4.006 8.975-8.96 8.975l-25.4-.016zm39.915 17.842c-1.254 1.006-3.04.804-4.127-.352l-9.965-12.652c7.44-.23 13.397-6.327 13.397-13.81 0-7.657-6.203-13.848-13.85-13.848h-33.73v45.557h5.21l.052-14.843c.057-1.654 1.455-3.032 3.147-3.032l19.184.005 12.463 15.827c2.87 3.39 7.906 3.955 11.406 1.204l-3.188-4.056zM133.66 45.312l-28.76-.025V32.365c.022-1.725 1.454-3.192 3.166-3.192l25.596-.006c4.46 0 8.06 3.61 8.06 8.048-.002 4.488-3.6 8.097-8.06 8.097M104.9 9.567l28.89.033c4.05 0 7.324 3.285 7.324 7.34 0 4.032-3.274 7.312-7.323 7.312h-26.16c-.955.065-1.894.285-2.732.647V9.566zm36.27 17.1c2.933-2.234 4.855-5.756 4.855-9.75 0-6.75-5.483-12.25-12.25-12.25L99.692 4.65v45.557h33.968c7.165 0 12.965-5.812 12.965-12.992 0-4.35-2.16-8.192-5.454-10.548"/></svg>
        .client__logo
          <svg class="client__image" viewBox="0 0 300 81.387"><g><path d="M256.09 76.212c4.178.405 8.354.84 12.52 1.29l9.198-22.712 8.743 24.807c4.487.562 8.97 1.152 13.44 1.768l-15.327-43.5L299.996 0H287.01l-.136.187-8.283 20.455-7.27-20.64h-12.823l13.237 37.566-15.644 38.644zM246.393 75.322V.002h-12.817v74.264c4.275.33 8.552.684 12.817 1.056M150.113 71.11c3.46 0 6.916.026 10.366.054V43.492h15.396V31.708H160.48v-19.91h17.732V0h-30.6v71.12c.83 0 1.666-.012 2.5-.01M110.32 71.83c4.268-.152 8.543-.28 12.823-.384V11.8h11.98V.003H98.34V11.8h11.98v60.03zM12.295 79.772V34.897L27.47 77.96c4.668-.524 9.342-1.017 14.03-1.483V0H29.2v46.484L12.826 0H0v81.385h.077c4.063-.562 8.14-1.096 12.218-1.613M85.98 11.797V0H55.377V75.203c10.155-.878 20.346-1.613 30.578-2.21V61.183c-5.916.344-11.82.74-17.71 1.18V43.498h15.397v-11.79H68.245v-19.91H85.98zM203.614 60.62V-.003H190.74v71.876c10.24.376 20.442.9 30.607 1.56V61.618c-5.9-.38-11.81-.71-17.733-1"/></g></svg>
        .client__logo
          <svg class="client__image" viewBox="16.27 10 1254.337 222.128"><g><path d="M16.27 10.128c35.312.046 70.638-.484 105.933.325 27.207.624 48.524 19.104 53.113 44.346 5.194 28.573-9.632 52.97-32.504 59.518-.58.166-1.054.705-1.835 1.25 21.8 6.24 34.814 20.67 38.478 42.29 6.042 35.67-13.632 64.98-50.803 69.127-8.244.918-16.615.895-24.93.938-29.15.155-58.3.15-87.45.206-.002-72.67-.002-145.335-.002-218.002zm46.945 176.38c.606.21 1.21.598 1.814.598 14.63.024 29.29.543 43.89-.15 15.107-.716 24.09-10 24.49-23.684.404-13.748-7.894-23.664-22.69-25.44-9.353-1.123-18.906-.608-28.37-.74-6.27-.088-12.545-.017-19.135-.017v49.434zm-.32-89.997c13.64 0 26.59.024 39.542-.02 2.492-.008 5.04.013 7.465-.475 9.145-1.836 16.032-6.525 18.427-16.057 3.818-15.197-5.868-28.326-21.592-29.105-7.31-.36-14.652-.1-21.98-.107-7.105-.01-14.213-.002-21.54-.002-.146 1.574-.31 2.534-.312 3.494-.017 13.805-.01 27.61-.01 42.273zM858.27 232.128c-5.52-1.026-11.098-1.813-16.55-3.12-42.696-10.234-64.45-46.982-60.72-87.587 3.124-33.998 20.263-58.854 52.908-70.36 45.576-16.067 98.43 5.624 106.23 66.267 1.028 8.012.978 16.163 1.468 24.97h-117.7c2.73 14.94 10.263 25.42 23.4 30.99 21.348 9.055 41.347 4.542 60.203-7.594 1.113-.717 2.14-1.57 3.224-2.34.107-.076.317-.01 1.072-.01 5.77 8.49 11.725 17.26 18.418 27.114-6.07 3.787-11.672 7.892-17.79 10.966-11.254 5.655-23.354 8.653-35.927 9.7-1.432.12-2.827.66-4.24 1.004H858.27zm42.71-98.528c.82-19.58-17.834-34.53-41.452-33.6-19.646.776-37.11 17.413-35.014 33.6h76.467zM1027.27 232.128c-6.792-1.367-13.695-2.333-20.358-4.17-31.82-8.78-53.77-35.687-56.657-68.574-2.727-31.02 6.266-57.31 31.168-76.88 37.735-29.656 111.896-22.93 126.628 47.236 1.057 5.027 1.677 10.188 1.995 15.318.34 5.447.076 10.934.076 17.235H993.19c1.02 8.77 4.425 15.823 10.076 21.656 12.933 13.347 29.072 15.86 46.51 12.8 11.114-1.952 21.372-6.173 30.604-14.083l18.823 27.594c-4.9 3.28-9.34 6.748-14.217 9.416-12.12 6.632-25.242 10.132-38.98 11.417-1.596.15-3.156.68-4.734 1.033-4.67.002-9.335.002-14.002.002zm-33.8-98.556h76.544c.983-18.978-17.23-34.052-40.117-33.605-20.31.395-37.89 16.457-36.427 33.605zM253.27 232.128c-5.002-1.024-10.037-1.91-15-3.095-30.75-7.328-48.912-30.344-48.94-61.982-.023-30.325-.004-60.652-.004-90.978v-5.435h41.562v5.79c0 28.662.084 57.322-.038 85.982-.057 13 3.92 24.008 16.238 29.665 13.35 6.13 27.023 5.907 39.374-2.89 9.047-6.44 11.604-16.3 11.623-26.895.055-28.494.02-56.988.02-85.48v-6.267h41.11l.002 5.617c0 29.994.014 59.987-.005 89.98-.02 36.194-22.548 61.073-58.65 64.866-1.782.188-3.527.737-5.29 1.118-7.335.004-14.67.004-22.002.004zM645.71 227.628V10.275h151.177V31.36c0 4.665-.313 9.358.088 13.99.398 4.612-1.454 5.507-5.698 5.483-29.83-.17-59.66-.09-89.49-.09h-9.435V96.51h5.63c22.498 0 44.997.13 67.492-.105 4.548-.047 5.612 1.398 5.508 5.693-.28 11.452-.096 22.915-.096 34.94h-78.873v90.59H645.71zM1120.653 227.543v-5.718c0-48.642 0-97.28.002-145.923 0-6.385.007-6.44 6.597-6.38 22.81.21 45.713-.762 68.404.995 32.335 2.502 57.643 17.065 69.623 48.983 12.175 32.434 2.895 69.45-21.845 89.73-14.575 11.946-31.727 17.83-50.2 18.495-23.456.85-46.965.268-70.45.285-.478 0-.955-.2-2.132-.467zm39.636-33.36c7.966 0 15.425.003 22.884 0 26.84-.008 43.738-15.133 46.746-41.838 2.158-19.174-8.213-38.245-24.73-45.016-14.548-5.963-29.747-2.793-44.898-3.636-.003 30.45-.003 60.053-.003 90.49zM423 106.14h-70.42V70.474h127.307c0 6.73-.338 13.49.1 20.205.4 6.188-1.482 10.97-5.39 15.828-21.172 26.348-42.01 52.96-62.96 79.488-1.123 1.423-2.192 2.89-3.943 5.2h73.038v36.352H352.195c0-9.93-.146-19.854.138-29.768.05-1.702 1.76-3.476 2.964-5.01 21.49-27.37 43.025-54.706 64.537-82.06.895-1.142 1.66-2.388 3.166-4.57zM492.108 106.18c0-11.255-.01-21.572.015-31.89.002-1.138.19-2.276.324-3.752H619.36c0 9.59.104 19.024-.112 28.452-.033 1.42-1.435 2.918-2.438 4.193-21.853 27.732-43.74 55.436-65.61 83.155-1.08 1.37-2.044 2.83-3.726 5.173h6.37c20.658 0 41.317.088 61.976-.074 3.838-.03 5.27.914 5.16 5.004-.282 10.29-.094 20.592-.094 31.2H492.232c0-10.276-.082-20.38.104-30.48.022-1.266 1.35-2.588 2.256-3.74 20.984-26.72 41.996-53.418 63-80.124 1.604-2.04 3.174-4.11 5.494-7.117h-70.978z"/></g></svg>
    //-close client__layer
    
    .footer__layer
      img(src="../img/ferrari.jpg" class="footer__image")
      ul(class="footer__nav")
        li
          a(href="#" class="footer__link") About
        li
          a(href="#" class="footer__link") Work
        li
          a(href="#" class="footer__link") Services
        li
          a(href="#" class="footer__link") Contacts
      ul(class="footer__social")
        li
          a(href="#" class="social__link"): icon(name="ei-sc-facebook" size="s" class="social__icon") Facebook
        li
          a(href="#" class="social__link"): icon(name="ei-sc-twitter" size="s" class="social__icon") Twitter
        li
          a(href="#" class="social__link"): icon(name="ei-sc-pinterest" size="s" class="social__icon") Pinterest
        li
          a(href="#" class="social__link"): icon(name="ei-sc-vimeo" size="s" class="social__icon") Vimeo
      .footer__contact
        a(href="#" class="footer__button") Join Newsletter
    //-close footer__layer
              
    script(src="https://cdn.jsdelivr.net/evil-icons/1.8.0/evil-icons.min.js")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
