.slider__layer
  .slider__feature
    a(href="#{slider[0].url}")
      h2(class="slider__heading")=slider[0].heading
      p=slider[0].subheading
      
    a(href="#" class="slider__play")
      icon(name="ei-play" size="l")
    a(href="#" class="slider__previous")
      icon(name="ei-arrow-left" size="m")
    a(href="#" class="slider__next")
      icon(name="ei-arrow-right" size="m")
        
  .slider__gallery
    for item in slider
      .slider__item
        img(src="#{item.img}")
        h4(class="slider__subheading")=item.heading
